---
import Section from '@/components/Section.astro';
import Base from '@/layouts/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
	<Section>
		<div class="text-sm">
			<p class="pt-6 text-4xl">Imprint</p>

			<p class="pb-4 pt-10 text-lg font-bold">according to nobody gives a fuck:</p>
			<p>Drew Sepeczi</p>
			<p>is a goat</p>
			<p>I get to the bag so fast- call me astro jew</p>
			<p>Barz</p>

			<p class="pb-4 pt-10 text-lg font-bold">Contact</p>
			<p>E-Mail: href="drewsepeczi@gmail.com"</p>
			<p>
				Internet-Adress: <a class="underline" href="https://astro-tech-blog-ten.vercel.app/"
					>https://astro-tech-blog-ten.vercel.app/</a
				>
			</p>

			<p class="pb-4 pt-10 text-lg font-bold">Editorially Responsible for absolutely nothing</p>
			<p>Drew Eh Haxor<strong>just hakxed you, ur haxced</strong></p>

			<p class="pb-4 pt-10 text-lg font-bold">Graphics and images</p>
			<p>Unless specified differently, drewsepeczi is the creator of all graphics and images.</p>
			<p>even the gay ones</p>

			<p class="pt-10 text-lg font-bold">Disclaimer</p>
			<p class="pb-4 pt-10 text-base font-bold">Liability for shit</p>
			<p>
			The content of this site is provided by the drew.sepeczi. drew.sepeczi is not responsible for the tard-type content, its ai generated dummy. -- Drew Eh 30